<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Vet Owners</title>
</head>
<body>
<h2 th:text="'Pet Owners List'">Pet Owners list</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">First name</th>
        <th style="width: 150px;">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="petOwner : ${petOwners}">
        <td th:text="${petOwner.id}">1</td>
        <td th:text="${petOwner.firstName}">Navnath</td>
        <td th:text="${petOwner.lastName}">Chinchore</td>
    </tr>
    </tbody>
</table>
</body>
</html>